# Nuxt
.nuxt/
.output/
.data/
dist/

# Node
node_modules/

# Env
.env
.env.*
!.env.example

# Testing
coverage/
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Editor / OS
.DS_Store
*.log
.idea/
.vscode/*
!.vscode/extensions.json
